In [151]:
import pandas as pd

In [105]:
df = pd.read_csv('user-item-rating.csv')
item_feature = pd.read_csv('item-feature.csv')

bins = [1,2,3,4,5,100]
df['ranking'] = pd.cut(df['nights'], bins, labels=[1,2,3,4,5])

In [107]:
df.head()

   user_id  hotel_id  nights ranking
0  2202958    160444      90       5
1  2151464    382537      62       5
2  2317460    347202      61       5
3  2151464    382537      61       5
4  2151464    382537      59       5

In [108]:
df['ranking'] = df.ranking.astype(int)

user_item = df.pivot_table(index=['user_id'], columns=['hotel_id'], values=['ranking'])

In [110]:
item_feature

,hotel_id,facility_swimming,facility_gym,airport_shuttle,facility_wifi,facility_parking,trust_rating_value,d37_hotel_category_name
0,17984,NO,NO,NO,YES,YES,8.3,3-star
1,20704,NO,NO,NO,YES,YES,6.3,2-star
2,21529,YES,NO,NO,YES,YES,7.4,3-star
3,21624,NO,NO,NO,YES,YES,7.4,3-star
4,22617,NO,NO,NO,NO,NO,8.4,3-star
5,26640,NO,NO,YES,YES,NO,NaN,2-star
6,27477,NO,NO,NO,YES,NO,8.2,3-star
7,29279,NO,NO,NO,YES,YES,NaN,3-star
8,29294,YES,NO,YES,YES,YES,8.7,4-star
9,29296,YES,NO,NO,YES,YES,7.4,3-star
10,29305,NO,NO,NO,YES,YES,6.7,3-star
11,29335,NO,NO,NO,YES,YES,NaN,2-star
12,29372,NO,NO,NO,NO,NO,9.3,3-star
13,30225,NO,NO,NO,YES,YES,NaN,3-star
14,30405,YES,NO,NO,YES,YES,8.0,3-star
15,30408,NO,NO,NO,NO,NO,NaN,3-star
16,30962,NO,NO,YES,YES,YES,8.7,4-star
17,31062,YES,NO,YES,YES,YES,8.8,4-star
18,33874,NO,NO,YES,YES,YES,NaN,2-star
19,34649,YES,NO,NO,YES,YES,8.4,3-star
20,35409,NO,NO,NO,YES,NO,NaN,3-star
21,35801,NO,NO,NO,YES,NO,8.5,3-star
22,37004,YES,NO,YES,YES,YES,9.2,4-star
23,38263,NO,NO,YES,YES,YES,8.3,3-star
24,38276,NO,NO,NO,YES,NO,8.0,3-star
25,38442,NO,NO,NO,YES,NO,7.8,3-star
26,38658,NO,NO,NO,YES,YES,8.9,4-star
27,38693,NO,NO,NO,YES,NO,7.1,3-star
28,38730,YES,NO,NO,YES,YES,8.9,4-star
29,38742,YES,NO,NO,YES,YES,9.3,4-star
...,...,...,...,...,...,...,...,...
9970,280164,NO,NO,NO,YES,YES,NaN,4-star
9971,280330,NO,YES,NO,YES,NO,6.2,5-star
9972,280332,NO,NO,NO,YES,YES,6.7,3-star
9973,280530,NO,NO,NO,YES,YES,NaN,3-star
9974,280889,YES,YES,NO,YES,YES,NaN,5-star
9975,280905,NO,YES,NO,YES,YES,NaN,4-star
9976,281001,NO,NO,NO,NO,NO,NaN,4-star
9977,281025,YES,YES,NO,YES,YES,NaN,5-star
9978,281046,NO,NO,NO,YES,YES,NaN,4-star
9979,281235,YES,YES,NO,NO,YES,8.9,5-star
9980,281238,NO,NO,NO,YES,YES,9.0,4-star
9981,281254,NO,YES,NO,YES,YES,6.1,4-star
9982,281453,NO,NO,NO,YES,YES,5.3,5-star
9983,281537,NO,NO,YES,YES,YES,8.6,5-star
9984,294386,NO,NO,NO,NO,NO,9.3,5-star
9985,294388,NO,NO,NO,NO,NO,9.3,5-star
9986,294389,NO,NO,NO,NO,NO,9.0,4-star
9987,294390,NO,NO,NO,NO,NO,8.8,4-star
9988,294391,NO,NO,NO,NO,NO,8.8,4-star
9989,294392,NO,NO,NO,NO,NO,8.0,4-star
9990,294398,NO,NO,NO,NO,NO,9.1,5-star
9991,294400,NO,NO,NO,NO,NO,9.2,5-star
9992,294405,NO,NO,NO,NO,NO,NaN,5-star
9993,294406,NO,NO,NO,NO,NO,9.1,4-star
9994,294412,NO,NO,NO,NO,NO,8.4,5-star
9995,294416,NO,NO,NO,NO,NO,8.4,NaN
9996,294444,NO,NO,NO,NO,NO,NaN,3-star
9997,294462,NO,NO,NO,NO,NO,8.9,4-star
9998,294467,NO,NO,NO,NO,NO,8.8,5-star
9999,294468,NO,NO,NO,NO,NO,8.5,4-star

In [111]:
#item_feature['facility_gym'] = item_feature['facility_gym'].str.replace('YES','1')

In [122]:
vals_to_replace = {'YES':'1', 'NO':'0'}
item_feature['facility_gym'] =item_feature['facility_gym'].map(vals_to_replace)
item_feature['facility_gym'] = item_feature['facility_gym'].fillna(0)
        



item_feature['facility_swimming'] =item_feature['facility_swimming'].map(vals_to_replace)
item_feature['facility_swimming'] = item_feature['facility_swimming'].fillna(0)

item_feature['airport_shuttle'] =item_feature['airport_shuttle'].map(vals_to_replace)
item_feature['airport_shuttle'] = item_feature['airport_shuttle'].fillna(0)

item_feature['facility_wifi'] =item_feature['facility_wifi'].map(vals_to_replace)
item_feature['facility_wifi'] = item_feature['facility_wifi'].fillna(0)

item_feature['facility_parking'] =item_feature['facility_parking'].map(vals_to_replace)
item_feature['facility_parking'] = item_feature['facility_parking'].fillna(0)

rating_mean = item_feature['trust_rating_value'].mean()

item_feature['trust_rating_value'] = item_feature['trust_rating_value'].fillna(rating_mean)

item_feature['d37_hotel_category_name'] = item_feature['d37_hotel_category_name'].str.replace('3-star', '3')
item_feature['d37_hotel_category_name'] = item_feature['d37_hotel_category_name'].str.replace('4-star', '4')
item_feature['d37_hotel_category_name'] = item_feature['d37_hotel_category_name'].str.replace('5-star', '5')
item_feature['d37_hotel_category_name'] = item_feature['d37_hotel_category_name'].str.replace('2-star', '2')
item_feature['d37_hotel_category_name'] = item_feature['d37_hotel_category_name'].str.replace('1-star', '1')

item_feature = item_feature.drop('d37_hotel_category_name', axis=1)

In [149]:
item_feature.head()

,hotel_id,facility_swimming,facility_gym,airport_shuttle,facility_wifi,facility_parking,trust_rating_value
0,17984,0,0,0,1,1,8.3
1,20704,0,0,0,1,1,6.3
2,21529,1,0,0,1,1,7.4
3,21624,0,0,0,1,1,7.4
4,22617,0,0,0,0,0,8.4

In [ ]:
user_hotels = tf.constant(item_feature)